#login_form {
    position: relative;
    top: 20%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    font-size: 18px;
    width: 60%;
    height: 30%;
    

    
}

#f1 {
    background-color: #ccc;
    border-style: solid;
    border-width: 1px;

}
.f1_label {
    white-space: nowrap;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
    td, th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 20px;
    }
    
    tr:nth-child(even) {
    background-color: #dddddd;
    }