<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <h4 class="card-header">Update Product</h4>
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Please update Current Product</h6>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="col-form-label">Product Name</label> -->
<!-- <input type="text" class="form-control" placeholder="Product Name" name="ProductName" #name> -->
<!-- </div>
            <div class="form-group col-md-6">
              <label class="col-form-label">Price</label> -->
<!-- <input type="text" class="form-control" placeholder="Price" name="price" #price> -->
<!-- </div>
          </div>
          <div class="form-row float-right"> -->
<!-- <button type="submit" class="btn btn-outline-primary mr-1" (click)="UpdateData(name.value , price.value)">update</button>
<button class="btn btn-outline-dark mr-2" (click)="cancel()">Cancel</button> -->
<!-- </div> -->
<!-- </form>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" value="{{ProductName}}" name="ProductName" #name>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" value="{{Price}}" name="price" #price>
    </div>
    <button type="submit" class="btn btn-outline-primary mr-1" (click)="UpdateData(name.value , price.value)">update</button>
   
    
  </form>
  <br>
  <form method="get" routerLink ="/list">
    <button class="btn btn-outline-primary mr-1">Cancel</button>
    </form>
</div>