
    <div class ="container-fluid">
     <h3> Click On Delete Button for Deleting From List </h3>
    
 <form>
    <button type="submit" class="btn btn-outline-primary mr-1" (click)="Delete()">delete</button>
    
    

 </form>
 <br>
 <form method="get" routerLink ="/list">
    <button class="btn btn-outline-primary mr-1">Cancel</button>
    </form>
    </div>
    <!-- <button type="submit" class="btn btn-outline-primary mr-1" (click)="Delete()">delete</button>
            <button class="btn btn-outline-dark mr-2" (click)="cancel()">Cancel</button>
   -->